.landingIcon {
  display: flex;
  margin: 1rem;
}

.landingPar {
  display: flex;
  align-items: center;
}

.landingGrid1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.landingGrid2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.landingLogo {
  display: flex;
  margin: auto;
}
